/* src/App.css */
* {
  box-sizing: border-box;
}

:root {
  line-height: 1;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
}

main {
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  max-width: 1200px; 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column-reverse; 
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  width: 100%; 
  max-width: 600px; 
  padding: 12px 20px; 
  margin: 10px auto;
  border-radius: 20px; 
  background-color: #f1f1f1; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

button {
  cursor: pointer;
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 1px solid transparent;
}

.ingredient-box {
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px 0;
  list-style-type: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
